# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*$py.class

# =========================================================
# Virtual Environment
# =========================================================

venv/
.venv/
env/
ENV/

# =========================================================
# Django
# =========================================================

db.sqlite3
db.sqlite3-journal

staticfiles/

# =========================================================
# Media / Uploaded Files
# =========================================================

media/

# =========================================================
# Environment Variables
# =========================================================

.env
.env.*
!.env.example

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# Node
# =========================================================

frontend/node_modules/
frontend/dist/